VITE_API_BASE_URL=https://admin.onecinema.uz/api/miniapp
VITE_API_WEB_URL=https://admin.onecinema.uz/api/web
VITE_STORAGE_URL=https://admin.onecinema.uz
VITE_TELEGRAM_BOT_NAME=onecinema_bot
VITE_TELEGRAM_BOT_ID=123456789
